
  <head>
    {{> styleMetaTitle }}
    <script src="JS/swiper.js"></script>
        <!-- Meta viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <!-- Link to external stylesheet for Swiper carousel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <!-- Internal styles for the document -->
    <style>
      html,
      body {
        position: relative;
        height: 100%;
      }
  
      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
  
      .swiper {
        width: 250px;
        height: 300px;
        padding: 50px;
      }
  
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 300px;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
      }
      p {
        font-size: 1vh, 1vw;
        margin: 10px;
      }
    </style>
  </head>

  <body>

    {{> header}}

    <main class="body">
      <!-- Swiper carousel container -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- Swiper slides with images and corresponding text -->
          <div class="swiper-slide">
            <img src="IMG/Levels/Noob.png" />
            <p>Noob</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Amateur.png" />
            <p>Amateur</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Pro.png" />
            <p>Pro</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Rare1.png" />
            <p>Swole lvl 1</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Rare2.png" />
            <p>Swole lvl 2</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Epic1.png" />
            <p>Cut lvl 1</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Legendary1.png" />
            <p>Ripped</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Legendary2.png" />
            <p>Yoked</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/Legendary3.png" />
            <p>Jacked</p>
          </div>
          <div class="swiper-slide">
            <img src="IMG/Levels/extra.png" />
            <p>Shredded</p>
          </div>
          <!-- Last swiper slide has an id, to add some additional logic to it -->
          <div class="swiper-slide" id="lastSlide">
            <img src="IMG/Levels/heheheha.png" />
            <p><strong>ABSOLUTE UNIT</strong></p>
          </div>
        </div>
        <!-- Swiper navigation buttons and pagination -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- Audio element for playing prerecorded audio in a random manner -->
      <audio id="randomAudio" controls style="display: none;">
        <source src="" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    </main>

    <footer class="footer">
      <section>
        Inspired by:
        <a href="https://github.com/RomanKosovets" target="_blank" class="footer__link">Roma</a>
      </section>
     {{> timeToLoad}}
    </footer>
    
  </body>
