<head>
    {{> styleMetaTitle}}
</head>

<body>

    {{> header }}

    <main class="body">
        <section class="body__section">
            <h3 class="body__section__title">About the YeahBuddy! project:</h3>
            <p class="body__section__paragraph">YeahBuddy! was created to help gym goers:
            <ul class="body__list">
                <li class="body__list__item">track their progress</li>
                <li class="body__list__item">find cool resources to learn from</li>
                <li class="body__list__item">get encouraged through an achievement system</li>
            </ul>
        </section>
        <article class="body__section">
            <h3 class="body__section__title">My story about how I got into lifting</h3>
            <p class="body__section__paragraph">Yeah, basically I was playing The Last of Us: Part 2 and one of the main
                characters, Abby, had <em class="body__text__emphasized">massive guns instead of human arms</em>, so I
                thought to myself: "I want to be as jacked and stacked as her". I went to my mom to ask her for a
                membership in the closest gym that was 20 minutes away on a bycicle. From that day, I've been going to
                the gym on a regular basis. That's how it all started.</p>
        </article>

        <aside class="body__section">
            <h3 class="body__section__title">How to supplement your training for optimal gains:</h3>
            <ol class="body__list">
                <li class="body__list__item">
                    <p class="body__section__paragraphTitle"><strong>SLEEP!</strong></p>
                    <p class="body__section__paragraph">Sleeping is crucial when it comes to recovering and gaining
                        muscles, do not neglect it!</p>
                </li>
                <li class="body__list__item">
                    <p class="body__section__paragraphTitle">Eating</p>
                    <p class="body__section__paragraph">You have to eat enough, so that your body will have the material
                        to recover you with.</p>
                </li>
                <li class="body__list__item">
                    <p class="body__section__paragraphTitle">Training</p>
                    <p class="body__section__paragraph">Training is when you tell your muscles it is time to grow,
                        recovery is when they actually grow. It's yin and yang of lifting. If you wanna grow muscles,
                        you gotta pay attention to both. You have to be consistent with your training and have at least
                        some idea about what you are doing.</p>
                </li>
                <li class="body__list__item">
                    <p class="body__section__paragraphTitle">Supplements</p>
                    <p class="body__section__paragraph">You can take multivitamins and omega 3's, but they are not
                        necessary, because can be derived from nutrition</p>
                </li>
            </ol>
        </aside>
        <section class="achievementsCards">
            
        </section>
    </main>

    <footer class="footer">
        <pre class="footer__quote">
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡐⠈⠉⠁⢢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡫⠒⠁⠀⠀⢠⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠷⣿⣟⠹⢿⠿⡅⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢯⣴⡀⢠⣤⠄⠐⡇⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣧⣶⣿⣒⡴⣹⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⢷⣷⣷⣾⣾⣧⡗⢲⠤⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⢀⠴⡊⠽⣾⣿⣿⣿⣿⡟⢁⠜⠀⠐⡻⢦⡀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⢀⡤⠖⠛⣉⠴⠒⠛⠻⣿⣿⣏⠌⠀⠀⠀⢄⠀⠉⠉⢉⠓⢢⡀⠀⠀
            ⠀⠀⢀⡾⠁⠀⡠⡊⠀⠀⠀⠀⠀⡾⠁⠀⠀⠀⠀⠠⣀⡈⢦⡀⢠⠈⣦⢹⡀⠀
            ⠀⠀⣾⣰⢁⣎⠜⠀⠀⠀⠀⠀⠀⠇⠀⠀⠀⠀⠀⠀⣠⡿⣿⣿⣇⣼⢘⣷⡇⠀
            ⠀⠀⢿⣿⣿⣿⠀⠀⠀⠀⠀⢀⣴⡇⠀⠀⠀⣀⡤⢚⣡⣾⣿⡿⣿⢿⠛⢻⡻⡆
            ⠀⢠⢏⠏⠉⢹⣷⣤⣀⣤⣥⡴⠞⠛⠷⣶⣶⣦⣾⣿⣿⣿⣿⠀⢸⢸⠀⢀⢣⢹
            ⠀⡎⠘⠀⠀⢸⡿⣿⣿⣿⡋⠓⠀⢀⣠⣔⣫⡿⢿⣿⣿⣿⣿⡆⠈⢸⠀⠀⢂⢹
            ⢰⠃⣧⠀⢀⣾⠇⢸⣧⠀⠀⠀⠀⠀⠈⠉⠉⠠⠞⡩⢛⣿⣿⣷⠀⢸⡔⠀⠘⣿
            ⢸⠀⠙⣷⣿⡿⠀⢸⠹⡷⠶⠒⠀⣀⣠⣤⣤⣾⣦⣴⣿⣿⢘⠃⢳⡿⠀⠀⢀⣿
            ⣨⠀⠀⢹⢿⠁⠀⢸⠀⡇⠀⠀⣀⡉⠀⠀⢀⣿⢋⣿⡟⣹⡌⠀⠀⡇⠀⠀⣼⢿
            ⡿⡆⠀⣸⢀⠀⠀⡎⠀⢹⡀⠀⠉⠉⠛⠿⣿⡏⢠⠟⢠⡟⡇⠀⢰⠁⠀⡸⠃⠘
            ⢇⠱⠀⣿⢸⠀⠀⢹⡤⠀⣅⠀⢀⣀⠤⠚⡟⢀⣡⣾⣿⣵⡇⠀⢸⠀⠰⠁⣰⠇
            ⢸⡆⠀⣿⡜⠀⢀⣾⣷⣤⣿⣶⣤⣀⣤⣾⣧⣼⣿⣿⣿⣿⡇⠀⢸⠀⢀⡜⡙⠀
            ⠈⡟⡆⠸⡇⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⡜⠀⠈⠰⠁⠀
            ⠀⢱⠘⡐⡇⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠗⡰⠡⠀⣠⠃⠀⠀
            ⠀⢸⡇⠁⢌⢣⠉⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠁⣠⠊⢡⠃⣰⣿⠀⠀⠀
            ⠀⠸⡇⠐⣼⢻⣧⠀⠀⠉⠛⠿⣿⣿⣿⣿⡟⠁⠀⠀⢠⣿⢿⣿⣶⣿⡿⠀⠀⠀
            ⠀⠀⢹⣶⡻⡀⠛⠀⠀⠀⠀⠀⠈⠙⠛⠋⠀⠀⠀⠀⠘⠃⣸⣿⣿⣿⠁⠀⠀⠀
            ⠀⠀⠀⠉⠛⠛⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠿⠋⠁⠀⠀⠀⠀
        </pre>
        <blockquote class="footer__quote"
            cite="https://www.goodreads.com/quotes/607547-no-man-has-the-right-to-be-an-amateur-in">
            <p class="footer_quote__paragraph">No man has the right to be an amateur in the matter of physical training.
                It is a shame for a man to grow old without seeing the beauty and strength of which his body is capable.
            </p>
            <cite class="footer_quote__cite">-Socrates</cite>
        </blockquote>

        <h6 class="footer__socials">How to reach me:</h6>
        <a href="https://t.me/Lofranlof" target="_blank" class="footer__link">
            <img class="icon" src="IMG/literallyme.jpg" alt="tg" />
        </a>
        {{>timeToLoad}}
    </footer>

</body>