
  <head>
    {{> styleMetaTitle}}
  </head>

  <body>
    {{> header}}

    <main class="body">
      <button onclick="logout()">Log out</button>    </main>

    <footer>
      {{> timeToLoad}}
    </footer>

  </body>