<!-- FILEPATH: /d:/MyCode/Labs/Web/Web/resources.html -->
  <head>
    {{> styleMetaTitle}}
  </head>

  <body>

    {{> header }}

    <main class="body">
      <h2 class="body__section__title">YouTube Channels</h2>
      <ul class="body__list">
        <li class="body__list__item"><a href="https://www.youtube.com/@RenaissancePeriodization">Renaissance Periodization</a></li>
        <li class="body__list__item"><a href="https://www.youtube.com/@sam_sulek">Sam Sulek (for the memes)</a></li>
        <li class="body__list__item"><a href="https://www.youtube.com/@BaldOmniMan">Bald Omni-Man</a></li>
      </ul>
    </main>

    <footer>
      {{> timeToLoad }}
    </footer>

  </body>
