
  <head>
    {{> styleMetaTitle}}
    <script src="JS/records.js"></script>
  </head>

  <body>

    {{> header}}

    <main>
        <section class="main_section">
          <h2>Toughest mf'ers out there </h2>
          <div class="preloader_container">
              <div class="preloader"></div>
          </div>
          <div class="error_message">
              <p class="error_text"></p>
          </div>
          <div class="cards_container">
            <template id="user_card_template">
              <div class="user_card">
                <p class="user_info nickname"></p>
                <p class="user_info date"></p>
                <p class="user_info wellbeing"></p>
                <p class="user_info benchpress"></p>
                <p class="user_info squat"></p>
                <p class="user_info deadlift"></p>
            </div>
            </template>
          </div>
      </section>
    </main>

    <footer>
      {{> timeToLoad}}
    </footer>

  </body>